node_modules
dist
.DS_Store
*.local
*.log
*.tsbuildinfo
.env
.env.*
!.env.example
*.mobileprovision
*.p12
*.cer
*.jks
*.keystore
*.xcuserstate
xcuserdata/
.idea/
.vscode/
android/local.properties
keystore.properties
.gradle/
